@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #1A9BA1;
}

body
{
    font-family:"Inter", sans-serif;
}
.bg
{
    background: url('./assets/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
